/******************************************************************
Site Name: Washington CVB
Author: Ben Weibel

Stylesheet: ACF google map Styles

******************************************************************/

.acf-map {
    width: 100%;
    height: 100vh;
}

/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}