/******************************************************************
Site Name: Needles N Pines
Author: Ben Weibel

Stylesheet: Button Styles

Use this stylesheet to create all kinds of buttons.
******************************************************************/

/*********************
RTD BUTTON MIXIN
*********************/
@mixin rtd-button($size: 14, $bg-color: $text-color, $text-color: $white, $hover-opac: 0.85) {
    display: inline-block;
    font-family: $sans-serif;
    font-size: $size + px;
    font-weight: bold;
    line-height: $size + px;
    color: $text-color;
    background-color: $bg-color;
    text-decoration: none;
    padding: 0.75em 1em;
    transition: background-color 0.35s ease;
    border: none;
    outline: none;

    &:hover,
    &:focus {
        @include background-opacity( $bg-color, $hover-opac );
        color: $text-color;
        text-decoration: none !important;
    }
} // end rtd-button

/* Example buttons. */
.needles-button-light {
    @include rtd-button(16, $hover-opac: 0.75, $text-color: $needles-green, $bg-color: $white);
}

.needles-button-dark {
    @include rtd-button(16, $hover-opac: 0.75, $text-color: $white, $bg-color: $needles-green-light);
}

// .example-button {
//     @include rtd-button(16, $bg-color: $text-color-alt, $text-color: $black);
// }
