/******************************************************************
Site Name: Washington CVB
Author: Ben Weibel

Stylesheet: Event Manager Styles

******************************************************************/
#em-wrapper{

    .em-search-wrapper{
        text-align: center;
        margin-bottom: 10px;
        border-bottom: 4px solid $gray;
        padding-bottom: 10px;

        h2 {
            font-size: 36px;
            color: $text-color-alt;
        }

        label{
            span{
                font-weight: bold;
                display: block;
            }
        }

        input[type="text"], select{
            margin: 10px auto;

        }

        .em-date-input-loc{
            display: inline-block;
            max-width: 172px;
        }

    }

    .events-list{
        .event{

            padding: 16px 0 10px;

            img{
                margin-bottom: 0;
            }

            h3{
                font-size: 32px;
                a{
                    color: $text-color-alt;

                }
            }

            border-bottom: 1px solid $meta-gray;
        }
    }

}

#ui-datepicker-div {

    .ui-widget-header {
        border: none;
        background: $wc-blue;
    }
}
