/******************************************************************
Site Name: Washington CVB
Author: Ben Weibel

Stylesheet: Master Slider Styles

******************************************************************/
.ms-container{
    .ms-overlay-layers{

        h1, h3{
            text-align: center;
            color: $white;
            text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
        }

        h1{

        }

        h3{
            font-size: 64px;
        }
    }
}