/******************************************************************
Site Name: Needles N Pines
Author: Ben Weibel

Stylesheet: IE Stylesheet
******************************************************************/

/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/

@import "partials/variables"; // import variables
@import "partials/typography"; // import typography
@import "partials/mixins"; // import mixins
@import "partials/ie_grid"; // import grid
@import "modules/buttons"; // buttons

// import everything inside media queries
@import "breakpoints/481up";
@import "breakpoints/768up";
@import "breakpoints/1030up";
@import "breakpoints/1240up";

/******************************************************************
ADDITIONAL IE FIXES
http://www.modernizr.com/docs/
******************************************************************/

/*
For example,
.no-textshadow .class { ... }

You can also target specific versions. Can sometimes change,
so take a look inside the header.php file to see what they are:

.lt-ie8 .class { ... }

*/

.main-header .contact-bar #phone-icon {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/wp-content/themes/rtd_base-theme-2016/library/images/phone_icon.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/wp-content/themes/rtd_base-theme-2016/library/images/phone_icon.png', sizingMethod='scale')";
}

.main-header .above-nav button#searchsubmit,
.main-header .above-nav span.search-toggle {
    background: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/wp-content/themes/rtd_base-theme-2016/library/images/search_80px.png', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/wp-content/themes/rtd_base-theme-2016/library/images/search_80px.png', sizingMethod='scale')";
}
