/******************************************************************
Site Name: Needles N Pines
Author: Ben Weibel

Stylesheet: Sass Functions
******************************************************************/
/*********************
COLOR FUNCTIONS
    Example:
    box-shadow: 0 0 4px black(0.3);
    compiles to:
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
*********************/

// black
@function black($opacity) {
    @return rgba(0,0,0,$opacity);
}

// white
@function white($opacity) {
    @return rgba(255,255,255,$opacity);
}
