/******************************************************************
Site Name: Needles N Pines
Author: Ben Weibel

Stylesheet: Mixins Stylesheet
******************************************************************/

/* Prefixes for loops (updated 3/13/15 to remove -moz- and -o- [no longer necessary]) */
$prefixes: ( "-webkit-", "" );

/* Background-size (cross-browser) */
@mixin cb-bg-size($width, $height) {
    @each $prefix in $prefixes {
        #{$prefix}background-size: $width $height;
    }
}

/* Cross-browser opacity mixin */
@mixin cb-opacity($alpha_val) {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$alpha_val * 100})";
    opacity: $alpha_val;
}

/* Background Alphas */
@mixin background-opacity($color, $opacity: 0.3) {
    background: $color;
    background: rgba($color, $opacity);
}

/* Forces the browser to render animation on the element with hardware acceleration */
@mixin enable-hw-acceleration {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* Tries to fix webkit flicker */
@mixin fix-flicker {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
