/******************************************************************
Site Name: Needles N Pines
Author: Ben Weibel

Stylesheet: Typography

Fonts Used
    (Google Web Fonts):

    (Generated):
        Aleo:           Regular

        Arimo:          Regular

        Norwester:      Regular
******************************************************************/

// The full, proper bulletproof fontface syntax, be sure to generate/include a woff2, use -webfont suffix!
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/arimo-regular-webfont.eot');
    src: url('../fonts/arimo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/arimo-regular-webfont.woff2') format('woff2'),
         url('../fonts/arimo-regular-webfont.woff') format('woff'),
         url('../fonts/arimo-regular-webfont.ttf') format('truetype'),
         url('../fonts/arimo-regular-webfont.svg#Arimo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aleobold';
    src: url('../fonts/aleo-bold-webfont.eot');
    src: url('../fonts/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         // url('../fonts/aleo-bold-webfont.woff2') format('woff2'),
         url('../fonts/aleo-bold-webfont.woff') format('woff'),
         url('../fonts/aleo-bold-webfont.ttf') format('truetype'),
         url('../fonts/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aleoregular';
    src: url('../fonts/aleo-regular-webfont.eot');
    src: url('../fonts/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aleo-regular-webfont.woff2') format('woff2'),
         url('../fonts/aleo-regular-webfont.woff') format('woff'),
         url('../fonts/aleo-regular-webfont.ttf') format('truetype'),
         url('../fonts/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// font stacks
$sans-serif:                "Open Sans", Helvetica, Arial, sans-serif;
$serif:                     "aleoregular", Cambria, Times New Roman, Times, serif;

$header-font:               "aleobold", serif;
$body-font:                 $sans-serif;

/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
p {
    /* autoprefixer: off */
    -ms-word-wrap: break-word;
       word-break: break-word;  //non-standard css for webkit
        word-wrap: break-word;
    // cleaning up the ragged lines and breaks
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
    // sets a minimum number of characters before and after the break
    -webkit-hyphenate-before: 2;
    -webkit-hyphenate-after:  3;
            hyphenate-lines:  3;
    // enabling fancy ligatures when available
    -webkit-font-feature-settings: "liga", "dlig";
       -moz-font-feature-settings: "liga=1, dlig=1";
        -ms-font-feature-settings: "liga", "dlig";
         -o-font-feature-settings: "liga", "dlig";
            font-feature-settings: "liga", "dlig";
}
