/******************************************************************
Site Name: Needles N Pines
Author: Ben Weibel

Stylesheet: Variables
******************************************************************/

/*********************
COLORS
*********************/
// Leave alone
$black:                             #000;
$white:                             #fff;

// WEBSITE SPECIFIC COLORS! Change these and anything else in all of the SCSS that uses them!
$needles-green:						#4A4B29;
$needles-green-light:				#9B9057;
$needles-green-alt:					#737145;

$link-color:                        $needles-green;
$link-hover:                        lighten( $link-color, 10% );

// Adjust if needed, or add more alts
$text-color:                        #323232;
$text-color-alt:                    #3d3d3d;

// Border colors, edit/adjust/add as needed
$main-menu-border-color:            #EAEAEA;
$services-border-color:             #f0f0f0;
$border-color:                      #ccc;
$page-border-color:                 #cdcdcd;

// Variations on gray, edit/adjust/add as needed
$light-gray:                        #f8f9fa;
$gray:                              #eaedf2;
$meta-gray:                         #9fa6b4;
$alt-gray:                          #636363;
$disabled-gray:                     #cfcfcf;

// Contact Form 7 colors, edit/adjust/add as needed
$cf7-bg-color:                      #E7E2DE;
$cf7-red:                           #F00;

// Some generic alert colors, edit/adjust/add as needed
$alert-yellow:                      #ebe16f;
$alert-red:                         #fbe3e4;
$alert-green:                       #e6efc2;
$alert-blue:                        #d5edf8;

/*********************
PERCENTAGES & NUMBERS
*********************/
// Edit/adjust/add as needed.
$main-menu-darken:                  7%;
$main-menu-opacity:                 0.90;
$footer-button-darken:              7%;
