/******************************************************************
Site Name: Needles N Pines
Author: Ben Weibel

Stylesheet: Desktop Stylsheet

Desktop size.
******************************************************************/
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
    width: 1020px;
    margin: 0 auto;
}

/*********************
HEADER STYLES
*********************/
.main-header {

    #inner-header {
    }

    .header-logo,
    .site-title {

        img {
            margin-left: 0;
        }
    }

    .header-right {
        display: inline-block;
        max-width: 60%;
        float: right;
    }

    .above-nav {

        button#searchsubmit,
        span.search-toggle {

            &:hover {
                @include cb-opacity( 0.85 );
            }
        }
    }
}

/*********************
NAVIGATION STYLES
*********************/
nav.mobile-nav-wrap {
    display: none;
}

nav.top-nav-wrap {
    display: block;

    > ul {
        text-align: right;

        li {
            display: inline-block;
            line-height: 100%;

            &:last-of-type {

                a {
                    margin-right: 0;
                }
            }
        }
    }
}

.nav {
    border: 0;

    ul {
        @include background-opacity( $white, $main-menu-opacity );
        margin-top: 0;
    }

    li {

        a {
            padding: 5px 0;
            margin: 0 0.8em;
            border-bottom: 5px solid transparent;
            color: $white;
        }

        &:hover,
        &:focus {

            > a {
                color: $needles-green;
                border-bottom: 5px solid $needles-green;
            }

        }

        /* plan your menus and drop-downs wisely. */
        ul.sub-menu,
        ul.children {
            margin-top: 0;
            border-top: 0;
            padding: 0;
            position: absolute;
            visibility: hidden;
            z-index: 8999;
            list-style: none;
            border: 1px solid $main-menu-border-color;
            box-shadow: 2px 2px 3px rgba($black, 0.25);

            li {
                border-bottom: 0;
                display: block;
                position: relative;
                text-align: left;

                a {
                    font-family: $serif;
                    font-weight: bold;
                    font-size: 16px;
                    padding: 15px;
                    margin: 0;
                    border: 0;
                    display: block;
                    width: 230px;

                    &:hover,
                    &:focus {
                        @include background-opacity( $needles-green, $main-menu-opacity );
                    }
                }

                ul {
                    top: 0;
                    left: 100%;
                }
            }

            /* highlight sub-menu current page */
            > li.current-menu-item,
            > li.current_page_item,
            > li.current_page_ancestor,
            > li.current-menu-ancestor {

                &:hover,
                &:focus {

                    a {
                    }
                }

                > a:first-of-type {
                    @include background-opacity( $needles-green, $main-menu-opacity );
                    color: $text-color;
                }

                a {

                    &:hover,
                    &:focus {
                        @include background-opacity( darken( $needles-green, 10% ), $main-menu-opacity );
                    }
                }
            }

            > li > ul.sub-menu,
            > li > ul.children {

                > li.current-menu-item,
                > li.current_page_item,
                > li.current_page_ancestor,
                > li.current-menu-ancestor {
                    > a {
                        @include background-opacity( $needles-green, $main-menu-opacity );
                        color: $text-color !important;

                        &:hover {
                            @include background-opacity( lighten( $needles-green, 10% ), $main-menu-opacity );
                        }
                    }
                }
            }
        }

        /* showing sub-menus */
        &:hover > ul {
            top: auto;
            visibility: visible;
        }

        &:hover > ul ul {
            margin-top: 0;
        }

        &.current-menu-ancestor ~ .current-menu-ancestor {

            a {
                background: $white !important;
                background: rgba($white, 0.9) !important;

                &:hover,
                &:focus {
                    background: $needles-green-light !important;
                    background: rgba($needles-green-light, 0.9) !important;
                }
            }
        }

    } /* end .menu ul li */

    > li {

        > ul.sub-menu,
        > ul.children {
        }
    }

    /* highlight current page */
    > li.current-menu-item,
    > li.current_page_item,
    > li.current_page_ancestor,
    > li.current-menu-ancestor {
        > a {
            border-bottom: 5px solid $text-color;
        }
    }  /* end current highlighters */

} /* end .nav */

.material-icon {
    display: none;
}

/*********************
MAIN CONTENT AREA
*********************/
.page-content {

    .table {
        width: 100%;
    }
}

/* Homepage Stuff */

.homepage-icons {
    margin: 2em 0 5em;
}

.homepage-single-button {
    // width: 19%;
}

a.homepage-icon-link {
    font-size: 24px;
}

.homepage-welcome {

        .blurb {
            font-size: 40px;
            margin: 10px auto;
            max-width: 550px;
        }
    }

/*********************
FOOTER STYLES
*********************/
.footer {
}
