/******************************************************************
Site Name: Needles N Pines
Author: Ben Weibel

Stylesheet: Super Large Monitor Stylesheet

Advanced styles. This kicks in on larger screens.
******************************************************************/
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 1230px;
}

.nav {

    li {

        a {
            padding: 5px 0;
            margin: 0 0.8em;
        }
    }
}

.featured-image {
    max-height: 450px;
    img{
	    transform: translateY(-10%);
    }
}

.sidebar {
}

/*********************
FOOTER STYLES
*********************/
.footer {
}
