/******************************************************************
Site Name: Needles N Pines
Author: Ben Weibel

Stylesheet: 481px and Up Stylesheet

This size COULD be a larger mobile device, keep it pretty light
and simply expand upon base.scss styles.
******************************************************************/
.main-header {

    .above-nav {

        #searchform {
            max-width: 280px;
        }

        input#s {
            max-width: 195px;
        }
    }
}

/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.page-content {

    /* at this larger size, we can start to align images */
    .alignleft, img.alignleft {
        margin-right: 1.5em;
        margin-bottom: 1em;
        display: inline;
        float: left;
    }
    .alignright, img.alignright {
        margin-left: 1.5em;
        margin-bottom: 1em;
        display: inline;
        float: right;
    }
    .aligncenter, img.aligncenter {
        margin-right: auto;
        margin-left: auto;
        display: block;
        clear: both;
    }

} /* end .entry-content */

.homepage-buttons {
    width: 100%;
}

.homepage-single-button {
}

a.homepage-icon-link {
    font-size: 24px;
}

/*********************
FOOTER STYLES
*********************/

.footer {
}

    .social-row {
    }
