/******************************************************************
Site Name: Needles N Pines
Author: Ben Weibel

Stylesheet: Tablet & Small Desktop Stylesheet

iPads, other tablets, and desktops. More styles, background images,
and other resources. Grid starts to come into play.
******************************************************************/
/*********************
LAYOUT & GRID STYLES
*********************/

.featured-image {
    max-height: 375px;
}

.main-header {

    .header-logo,
    .site-title {
        max-width: 150px;
        display: inline-block;
        position: absolute;
    }

    .above-nav {
        text-align: right;
    }


    .contact-bar {

        .contact-text{
            text-align: right;
        }

        #phone-number {
            display: inline;
        }
    }

}

/* fancy burger icon */
.material-icon {
    top: 33%;
    right: 2%;
}

/* Homepage Stuff */
.slider-graphic-area {
    display: block;
    position: absolute;
    top: 41%;
    padding-left: 1%;
    z-index: 999;

    span {
        display: block;
        font-family: $serif;
        font-size: 35px;
        line-height: 35px;
        font-weight: bold;
        color: $white;
        text-shadow: 3px 3px 4px rgba( $black, 0.4 );
    }
}

.slider-box {
    margin-bottom: 2em;
}


.homepage-welcome {
        position: absolute;
        top: 0;
        padding: 1em;
        text-align: center;
        width: 100%;
        margin-top: 5%;

        .blurb {
            font-size: 34px;
            margin: 10px auto;
            max-width: 500px;
        }
    }


.homepage-icons {
    margin: 1.5em 0;
}

.homepage-single-button {
    width: 18.9%;
    margin-right: 0.75%;

    &:last-of-type {
        margin-right: 0;
    }
}

a.homepage-icon-link {
    font-size: 18px;
}

/*************************
CONTACT FORM 7
*************************/
.wpcf7 {

    textarea {
        max-width: 60%;
    }
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {

    .widgettitle {
        font-size: 1.5em;
    }

    .widget {
        margin: 2.5em 0;

        &:first-of-type {
            margin-top: 2.7em;
        }
    }
}

/*********************
FOOTER STYLES
*********************/
.footer {
    padding-bottom: 2em;
}

    .credit {
        position: absolute;
        margin: 0;
        bottom: 0;
        left: 0;

        a {

            &:hover {

                img {
                    @include cb-opacity( 1.0 );
                }
            }
        }
    }
