/******************************************************************
Site Name: Needles N Pines
Author: Ben Weibel

Stylesheet: Base Mobile Stylesheet
******************************************************************/

// Mixins to use:
    // Transition Prefixer:         @mixin transition($transition...) - DEPRECATED IN FAVOR OF AUTOPREFIXER W/ COMPASS
    // Cross-Browser BG-Size:       @mixin cb-bg-size($width, $height)
    // Cross-Browser Border-Radius: @mixin borderRadius($size...)
    // Cross-Browser Opacity:       @mixin cb-opacity($alpha_val)
    // BBG w Alpha & Fallback:      @mixin background-opacity($color, $opacity: 0.3)
    // Forces HW Accel:             @mixin enable-hw-acceleration
    // Fix hover flicker:           @mixin fix-flicker

/*********************
GENERAL STYLES
*********************/
body {
    font-family: $body-font;
    font-size: 20px;
    line-height: 1.5;
    color: $text-color;
    background-color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/********************
WORDPRESS BODY CLASSES
********************/
.home {}                          /* home page */
.search {}                        /* search page */

/*********************
LAYOUT & GRID STYLES
*********************/
main{
    margin-top: 20px;
}

.wrap {
    width: 100%;
    padding: 0 15px;
}

.full-wrap {
    position: relative;
}

.featured-image {
    width: 100%;
    max-height: 280px;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
    }
}



#inner-content {}

.page-container {}

.page-container {
    padding-bottom: 3em;
}


hr {
    border: none;
    height: 1px;
    color: $meta-gray;
    background-color: $meta-gray;
    margin: 1.5em 0 2em;
}

/*********************
LINK STYLES
*********************/
a, a:visited {
    color: $link-color;

    /* on hover */
    &:hover, &:focus {
        color: $link-hover;
    }

    /* on click */
    &:active {

    }

    /* mobile tap color */
    &:link {
        -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
    }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    text-rendering: optimizelegibility;
    font-family: $header-font;
    // font-weight: normal; // If using a bolded typeface, swap
    font-weight: bold;
    margin: 0 0 0.375em;

    a {
        text-decoration: none;
    }
}

h1, .h1 {
    font-size: 50px;
    color: $needles-green;
    margin-bottom: 10px;
}

h2, .h2 {
    font-size: 32px;
    color: $needles-green-alt;

    a {
        color: $needles-green-alt;

        &:hover, &:focus {
            color: darken( $needles-green-alt, 10% );
            text-decoration: underline;
        }
    }
}

h3, .h3 {
    font-size: 22px;
    color: $needles-green;

    a {
        color: $needles-green;

        &:hover, &:focus {
            color: lighten( $needles-green, 10% );
            text-decoration: underline;
        }
    }
}

h4, .h4 {
    font-size: 20px;
    color: $needles-green-alt;

    a {
        color: $needles-green-alt;

        &:hover, &:focus {
            color: darken( $needles-green-alt, 10% );
            text-decoration: underline;
        }
    }
}

h5, .h5 {
    font-size: 18px;
    color: $needles-green;

    a {
        color: $needles-green;

        &:hover, &:focus {
            color: lighten( $needles-green, 10% );
            text-decoration: underline;
        }
    }
}

/*********************
HEADER STYLES
*********************/
.main-header {
    @include enable-hw-acceleration();
    background-color: $white;
    width: 100%;
    z-index: 99;
    background: $needles-green-alt;

    .contact-bar {
        background-color: $needles-green;

        #phone-number {
            display: block;
        }

        .contact-text {
            text-align: center;
            margin: 0;
            padding: 10px 0;
            color: $white;
            font-size: 16px;
            font-family: $sans-serif;
            // font-weight: normal; // If using a bolded typeface, swap
            font-weight: bold; // with this.
        }

        #phone-icon {
            display: inline-block;
            vertical-align: middle;
            width: 12px;
            height: 30px;
            margin-right: 10px;
            margin-bottom: 3px;
            background-image: url('/wp-content/themes/rtd_base-theme-2016/library/images/phone_icon.png'); // Be sure to change to your theme's directory name!
            background-size: contain;
            background-repeat: no-repeat;
        }

        #phone-number {

            a {
                color: $white;
                text-decoration: none;

                &:hover {
                    text-decoration: none;
                }
            }
        }

    }

    #inner-header {
        transition: all 0.5s ease;
        position: relative;
        min-height: 60px;
    }

    .header-logo,
    .site-title {
        z-index: 999;
        display: block;
        width: 100%;
        max-width: 200px;
        max-height: 100%;

        margin: 0 auto;
        text-align: center;

        a {
            display: inline-block;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .header-right {
        display: block;
        width: 100%;
        vertical-align: top;
    }

    .above-nav {
        margin: 1em 0 0.75em;
        text-align: center;
        -webkit-backface-visibility: hidden;

        #searchform {
            display: inline-block;
            width: 100%;
            max-width: 240px;
        }

        input#s {
            display: inline-block;
            height: 30px;
            line-height: 30px;
            padding: 0 12px;
            margin: 0;
            font-size: 16px;
            font-family: $body-font;
            background-color: #f2f2f2;
            border: 1px solid #cdcdcd;
            width: 100%;
            max-width: 150px;
        }

        button#searchsubmit,
        span.search-toggle {
            @include enable-hw-acceleration();
            background-color: transparent;
            background-image: url('/wp-content/themes/rtd_base-theme-2016/library/images/search_80px.png'); // Be sure to change to your theme's directory name!
            background-size: contain;
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
            border: 0;
            padding: 0;
            vertical-align: middle;
            margin: 0 1em 3px 0.3em;
            cursor: pointer;
        }

        button#searchsubmit {
            color: transparent;
            outline: none;
            z-index: -1;
        }
    }
}

/* fancy burger icon */
.material-icon {
    width: 30px;
    height: 26px;
    margin: 0px;
    position: absolute;
    top: 23%;
    right: 4%;
    cursor: pointer;
}

.material-icon span,
.material-icon {
    transition: all 350ms ease;
}

.material-icon span {
    background-color: $white;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.hamburger span, html.sb-active span, .arrow span {
    height: 4px;
}

.hamburger .first {
    transform: translateY(10px);
}

.hamburger .second {
    transform: translateY(0);
}

.hamburger .third {
    transform: translateY(20px);
}

/* I also need to move it back a bit to keep it centered. */
.arrow {
    transform: rotate(180deg) translateX(-3px);
}

.arrow .first {
    transform: translateY(12px);
}

.arrow .second,
.arrow .third {
    transform: rotate(-45deg) translateY(20px) translateX(-8px);
    width: 25px;
}

.arrow .second {
    transform: rotate(45deg) translateY(-3px) translateX(9px);
}

.page-template-page-homepage {

    .featured-image {

    }
}

    .logo {
        margin: 0;

        a {
            display: block;
            color: $needles-green;
        }
    }

/*********************
NAVIGATION STYLES
*********************/
/*
all navs have a .nav class applied so
this applies for ALL types of navs
*/

nav.top-nav-wrap {
    display: none;
}

.nav {
    border-bottom: 0;
    margin: 0;
    padding: 0;
    list-style: none;

    li {

        a {
            display: block;
            color: $needles-green;
            text-decoration: none;
            padding: 10px 10px;
            font-family: $sans-serif;
            // font-weight: normal; // If using a bolded typeface, swap
            font-weight: bold; // with this.
            font-size: 24px;
            line-height: 1.3;
        }

        &:first-child {}

        &:last-child {}
        ul.sub-menu,
        ul.children {
            list-style: none;

            li {

                a {
                    padding-left: 30px;

                    &:hover,
                    &:focus {}

                    &:link {}

                }

                &:first-child {}

                &:last-child {}

            }

        }

    } /* end .menu li */

    /* highlight current page */
    li.current-menu-item,
    li.current_page_item,
    li.current_page_ancestor {

        a {}

    }  /* end current highlighters */

} /* end .nav */

/*****************************
MOBILE MENU
*****************************/
.sb-slidebar {
    background-color: $white;
    border-left: 1px solid $main-menu-border-color;
    box-shadow: -10px 0px 10px -5px rgba( $black, 0.3);

    &.slidebar-zindex {
        z-index: 999;
    }
}

    .mobile-nav-wrap{
    }

        .mobile-nav {

            li {

                &.menu-item-has-children {
                    position: relative;

                    .arrow-icon {
                        position: absolute;
                        right: 5%;
                        top: 0.95em;
                        width: 20px;
                        height: 20px;

                        behavior:url(-ms-transform.htc);
                        -ms-transform:rotate(0deg);
                        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0)";
                        -moz-transform:rotate(0deg);
                        -o-transform:rotate(0deg);
                        -webkit-transform:rotate(0deg);
                        transform: rotate(0deg);

                        -moz-transition: transform .75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                        -o-transition: transform .75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                        -webkit-transition: transform .75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                        transition: transform .75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                    }

                    &.open {

                        > .arrow-icon {
                            behavior:url(-ms-transform.htc);
                            -ms-transform:rotate(180deg);
                            -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
                            -moz-transform:rotate(180deg);
                            -o-transform:rotate(180deg);
                            -webkit-transform:rotate(180deg);
                            transform: rotate(180deg);

                            -moz-transition: transform .75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                            -o-transition: transform .75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                            -webkit-transition: transform .75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                            transition: transform .75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                        }
                    }
                }

                a {
                    font-size: 24px;
                    padding: 10px 50px 10px 20px;
                }

                > ul.sub-menu,
                > ul.children {
                    display: none;
                    padding: 0 1.5em;

                    li {

                        &.menu-item-has-children {

                            .arrow-icon {
                                right: 10%;
                                width: 16px;
                                height: 16px;
                            }
                        }

                        a {
                            font-size: 20px;
                            padding: 15px 20px;
                        }

                        > ul.sub-menu,
                        > ul.children {
                            li {
                                a {
                                    font-size: 16px;
                                    padding: 15px 20px;
                                }
                            }
                        }
                    }
                }

                &.open {

                    > ul.sub-menu,
                    > ul.children {
                        display: block;
                    }
                }
            }

            > li {


            }
        }

/*********************
CONTENT STYLES
*********************/
.standard-content {
    margin-top: 1em;
}

#breadcrumbs {
    margin: 0 1% 15px 0;
    font-family: $serif;
    font-size: 12px;
    font-weight: bold;
    color: $text-color-alt;

    span span,
    span span a {
        color: $needles-green;
        text-decoration: none;
    }

    span span a:hover,
    span span a:focus {
        text-decoration: underline;
        color: lighten( $needles-green, 10% );
    }

    span.separator {
        color: $text-color-alt;
        margin: 0 2px;
    }
}

.image-bg {
    background: url(/wp-content/themes/rtd_needlesnpines/library/images/nelsonvillequiltco_shop_bg.jpg);
    padding: 1em;
    text-align: center;
    color: white;
    font-size: 30px;
}

// BUTTONS FROM SHORTCODES! See functions.php
a.in-page-button-regular {
    @include rtd-button($size: 18);
}

a.in-page-button-gray {
    @include rtd-button($size: 18, $bg-color: $text-color, $text-color: $white);
}

a.in-page-button-big-red {
    @include rtd-button($size: 24);
    max-width: 415px;
}

a.in-page-button-big-gray {
    @include rtd-button($size: 24, $bg-color: $text-color, $text-color: $white);
    max-width: 415px;
}

#content {
    z-index: 75;
}

        .hentry {
            margin: 0 0 1.5em 0;

            footer {
                padding: 1.5em;

                p {
                    margin: 0;
                }
            }

        } /* end .hentry */

        h1.archive-title {
            font-size: 1.5em;
            color: $needles-green;
            margin-bottom: 15px;
        }

        .page-title {
            margin: 0;
        }

        /* want to style individual post classes? */
        .page {}            /* general article on a page style */
        .attachment {}      /* general style on an attatchment */
        .hentry {}          /* hentry class */

        /* entry content */
        .page-content {

            p {
                margin: 0 0 1em;

                &:empty {
                    display: none;
                }
            }

            ul, ol, table, dl {}

            ul, ol {

                li {}

            }

            ul {

                li {}

            }

            ol {

                li {}

            }

            table {
                width: 100%;
                border: 1px solid $gray;
                margin-bottom: 1.5em;

                caption {
                    margin: 0 0 7px;
                    font-size: 0.75em;
                    color: $meta-gray;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                }
            }

            .table {
                width: 90%;
                border: 1px solid mix($alt-gray, $white, 25%);
                font-size: 14px;

                thead {
                    font-size: 16px;
                    font-family: $sans-serif;
                    // font-weight: normal; // If using a bolded typeface, swap
                    font-weight: bold; // with this.
                    line-height: 1.25;
                    background-color: $needles-green;
                    color: white;
                }

                th {
                    border-right: 1px solid mix($alt-gray, $white, 25%);
                    padding: 0.5em 7px;
                    text-align: left;

                    &:last-of-type {
                        border: 0;
                    }
                }

                tr {
                    border: 1px solid mix($alt-gray, $white, 25%);

                    &:nth-child(even) {
                        background-color: $light-gray;
                    }
                }

                td {
                    padding: 7px;
                    border: 1px solid mix($alt-gray, $white, 25%);

                    &:last-child {
                        border-right: 0;
                    }
                }
            }

            blockquote {
                margin: 0 0 1.5em 0.75em;
                padding: 0 0 0 0.75em;
                border-left: 3px solid $needles-green;
                font-style: italic;
                color: $meta-gray;

                &:before {}

            }

            dl {}

            dt {}

            dd {
                margin-left: 0;
                font-size: 0.9em;
                color: #787878;
                margin-bottom: 1.5em;
            }

            img {
                margin: 0 0 1.5em 0;
                max-width: 100%;
                height: auto;

                &.rtd_pdficon {
                    margin: 0;
                }
            }

            /*
            image alignment on a screen this size may be
            a bit difficult. It's set to start aligning
            and floating images at the next breakpoint,
            but it's up to you. Feel free to change it up.
            */
            .alignleft, img.alignleft {}
            .alignright, img.alignright {}
            .aligncenter, img.aligncenter {}

            .size-auto,
            .size-full,
            .size-large,
            .size-medium,
            .size-thumbnail {
                max-width: 100%;
                height: auto;
            }

            pre {
                background: $black;
                color: $light-gray;
                font-size: 0.9em;
                padding: 1.5em;
                margin: 0 0 1.5em;
                border-radius: 3px;
            }

        } /* end .page-content */

        .wp-caption {
            max-width: 100%;
            background: #eee;
            padding: 5px;

            /* images inside wp-caption */
            img {
                max-width: 100%;
                margin-bottom: 0;
                width: 100%;
            }

            p.wp-caption-text {
                font-size: 0.85em;
                margin: 4px 0 7px;
                text-align: center;
            }

        } /* end .wp-caption */

.homepage-wrap {

    .page-content {

        h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
            line-height: 1em;
        }

        h1, .h1 {
            font-size: 30px;
            color: $needles-green;
        }

        h2, .h2 {
            font-size: 26px;
            color: $needles-green-light;
        }

        h3, .h3 {
            font-size: 22px;
            color: $text-color-alt;
        }
    }
}

    .slider-box {
        margin-bottom: 0.75em;
        position: relative;
    }

    .overall-slider-wrap {
        position: relative;
    }

            a.ms-btn {
                color: $white;

                &:hover,
                &:focus {
                    color: $white;
                }
            }

    .homepage-slider {

        .ms-skin-light-6 .ms-bullets.ms-dir-h {
            bottom: 5% !important;
        }
    }

        .ms-skin-light-6 .ms-nav-next,
        .ms-skin-light-6 .ms-nav-prev {
          border: none;
          background-color: rgba(255, 255, 255, 0.4);
          top: 50%;
        }

        .ms-skin-light-6 .ms-nav-next:hover,
        .ms-skin-light-6 .ms-nav-prev:hover {
          background-color: rgba(255, 255, 255, 0.6);
        }

        .ms-skin-light-6 .ms-bullet {
          width:  16px;
          height: 16px;
          border: none;
          background: #FFF;
          background: rgba(255, 255, 255, 0.6);
        }

        .ms-skin-light-6 .ms-bullet:hover {
          background: rgba(255, 255, 255, 0.8);
        }

        .ms-skin-light-6 .ms-bullet-selected {
          background: rgba(255, 255, 255, 1.0);
        }

    .slider-graphic-area {
        display: none;
    }

    .homepage-welcome {
        position: absolute;
        top: 0;
        padding: 1em;
        text-align: center;
        width: 100%;
        margin-top: 5%;

        .blurb {
            color: white;
            font-weight: bold;
            font-size: 24px;
            margin: 10px 0;
        }
    }

    .homepage-icons {
        margin-bottom: 1.5em;
    }

        .homepage-single-button {
            display: inline-block;
            margin-bottom: 1em;
            width: 100%;
            background-color: $needles-green-light;
        }

        a.homepage-icon-link {
            display: block;
            font-family: $sans-serif;
            font-size: 20px;
            // font-weight: normal; // If using a bolded typeface, swap
            font-weight: bold; // with this.
            color: $white;
            text-decoration: none;
            text-align: center;
            padding: 2em 1em;

            &:hover {
                text-decoration: none;
                background-color: $needles-green;
                color: $white;
            }
        }

/*************************
CONTACT FORM 7
*************************/
.wpcf7 {

    p {
        margin: 0 0 1.5em;
    }

    h3:last-of-type {
        margin-bottom: 1.5em;
    }

    span.cf7-required {
        color: $needles-green;
    }

    textarea {
        max-width: 90%;
        padding: 5px 10px;
    }

    .wpcf7-captchac {
        margin: 0 0 5px 0;
        width: 115px;
        height: auto;
    }

    .wpcf7-captchar {
        max-width: 200px;
        margin-top: 10px;
    }
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    @include rtd-button(22);
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/
.pagination,
.wp-prev-next {
    margin: 1.5em 0;
}
    /* fallback previous & next links */
    .wp-prev-next {

        ul {}

        .prev-link {
            float: left;
        }

        .next-link {
            float: right;
        }

    } /* end .wp-prev-next */

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

    .widgettitle {
        font-family: $sans-serif;
        font-size: 24px;
        // font-weight: normal; // If using a bolded typeface, swap
        font-weight: bold; // with this.
        color: $needles-green;
        margin: 0;
        padding: 0.5em 0;
    }

    .widget {
        margin: 1em 0;

        &#nav_menu-001 {
            margin-top: 3em;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .widget_nav_menu {

        .widgettitle {
            background-color: $needles-green-light;
            border: 1px solid $services-border-color;
            border-bottom: none;
            padding: 0.7em 0.8em 0.25em 0.8em;
        }

        ul {
            list-style: none;
            font-family: $serif;
            background-color: $needles-green-light;
            margin: 0;
            padding: 0 0 0.7em 0;
            border: 1px solid $services-border-color;
            border-top: none;

            li {
                margin: 0;
            }

            a {
                background-color: $needles-green-light;
                color: $text-color;
                font-size: 16px;
                font-weight: bold;
                line-height: 16px;
                display: block;
                text-decoration: none;
                padding: 1.1em 1.25em;

                &:hover,
                &:focus {
                    background-color: $needles-green;
                }
            }

            li.current-menu-item,
            li.current_page_item,
            li.current_page_ancestor {

                a {
                    background-color: $needles-green;

                    &:hover {
                        background-color: $needles-green-light;
                    }
                }
            }
        }
    }

    .sidebar-centered-image {
        display: block;
        text-align: center;
    }

    .no-widgets {
        background-color: $white;
    }

/*********************
FOOTER STYLES
*********************/
.footer {
    padding-bottom: 1em;
    clear: both;
    background-color: $needles-green;
    color: $white;

    h1, h2, h3,h4{
        color: white;
    }

    a, a:visited{
        color: $white;
    }
}

    #inner-footer {
        position: relative;
    }

    .footer-main-row {
        z-index: 10;
        position: relative;
        margin-top: 3em;
    }

        .footer-middle {
            text-align: center;

            .footerarea {
                margin: 0 auto;

                h2 { display: none; }

                .textwidget {
                    margin-bottom: 1em;
                }

                p {
                    margin: 0;
                    font-family: $sans-serif;
                    font-size: 20px;

                    &:last-of-type {
                        margin-top: 0.5em
                    }
                }

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

    a.footer-button {
        @include rtd-button(22);
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }

    .footer-copyright {
        text-align: center;
        z-index: 10;
        position: relative;
        font-size: 14px;

        a {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        .copyright {
            margin: 0.5em 0 0;
        }
    }

    .credit {
        width: 150px;
        margin: 1em auto 0;
        z-index: 100;

        img {
            // @include fix-flicker;
            @include cb-opacity( 0.7 );
            width: 100%;
            height: auto;
            // transition: opacity .5s ease-in-out;
        }

        a {
            display: block;
        }
    }

/* ONE-OFF/SPECIAL STUFF */

.faq{
    list-style: none;
    padding: 0;

    .listing-item{
        cursor: pointer;

        .title {
            font-weight: bold;

            &::before{
                content: '+ ';
            }
        }

        .content {
            display: none;
            padding-left: 1em;
        }

        &.open{
            .title {
            color: $needles-green-light;
                &::before{
                    content: '- ';
                }
            }

            .content {
                display: block;
            }
        }
    }
}

html.mod_cssfilters {
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.custom-pagination {
    text-align: center;
    margin-bottom: 1em;

    .page-numbers {
        margin-right: 10px;
    }

    a.page-numbers {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .page-num {
        display: block;
        font-weight: bold;
    }
}

body.page-template-default .page-content *[id]:before {
    display: block;
    content: " ";
    margin-top: -10px;
    height: 10px;
    visibility: hidden;
}

body.admin-bar.page-template-default .page-content *[id]:before {
    display: block;
    content: " ";
    margin-top: -45px;
    height: 45px;
    visibility: hidden;
}

.bookly-form {

    // .picker__frame {

    //     * {
    //         color: unset;
    //     }
    // }

    .picker__nav--prev {

        &:before {
            border-right: .75em solid $needles-green !important;
            margin: 0 auto 0 0;
        }
    }

    .picker__nav--next {

        &:before {
            border-left: .75em solid $needles-green !important;
            margin: 0 0 0 auto;
        }
    }

    .picker__day--selected,
    .picker__day--selected:hover,
    .picker__day--infocus:hover,
    .picker__day--outfocus:hover {
        color: $needles-green !important;
    }

    .picker__holder {
        background-color: $needles-green !important;

        // .picker__header {
        //     border: none;
        //     background: $needles-green-light;
        // }
    }

    .picker--focused {

        .picker__day--selected, {
            color: $needles-green !important;
        }

        .picker__day--highlighted {
            color: $needles-green-light !important;
        }
    }

    .picker__button--today,
    .picker__button--clear {
        color: $needles-green !important;
    }
}
